
<ion-content color="dark"><br><br><br>
  <div class="prueba_uno">PRUEBA UNO</div><br>
  <div class="aqui">Aqui comienza todo</div><br><br>
  <div class="bienvenido">Bienvenido</div>
  <form >
  <ion-item color="dark">
    <ion-label position="floating" >Usuario</ion-label>
    <ion-input minlength="3" maxLength="8"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" minlength="4" ></ion-input>
  </ion-item>

  <ion-button expand="block" color="medium" [routerLink]="['/catalogo']"> Ingresar</ion-button><br>
  <ion-button fill="clear" expand="block" class="crear" [routerLink]="['/registro']" color="primary">Crea una cuenta gratis</ion-button><br>
  <ion-button fill="clear" expand="block" class="crear" [routerLink]="['/olvido']" color="danger">¿Olvido la contraseña?</ion-button>
  </form>
</ion-content>
